@if (sidebarStore.mobileOpen()) {
  <div class="sidebar__backdrop" (click)="sidebarStore.closeMobile()"></div>
}

<aside class="sidebar" [class.sidebar--collapsed]="sidebarStore.collapsed()" [class.sidebar--mobile-open]="sidebarStore.mobileOpen()">
  <div class="sidebar__brand">
    <div class="sidebar__logo">
      <i class="pi pi-sparkles"></i>
    </div>
    @if (!sidebarStore.collapsed()) {
      <span class="sidebar__brand-text">FRS Insurance AI</span>
    }
  </div>

  <nav class="sidebar__nav">
    @for (group of navGroups; track group.label) {
      <div class="sidebar__group">
        @if (!sidebarStore.collapsed()) {
          <button
            type="button"
            class="sidebar__group-label"
            [class.sidebar__group-label--expanded]="expandedGroups().has(group.label)"
            (click)="toggleGroup(group.label)"
          >
            <span>{{ group.label }}</span>
            <i class="pi pi-angle-down"></i>
          </button>
        }
        @if (sidebarStore.collapsed() || expandedGroups().has(group.label)) {
          @for (item of group.items; track item.path) {
            <a
              class="sidebar__link"
              [routerLink]="item.path"
              routerLinkActive="sidebar__link--active"
              [pTooltip]="sidebarStore.collapsed() ? item.label : ''"
              tooltipPosition="right"
              (click)="sidebarStore.closeMobile()"
            >
              <i [class]="item.icon"></i>
              @if (!sidebarStore.collapsed()) {
                <span>{{ item.label }}</span>
              }
            </a>
          }
        }
      </div>
    }
  </nav>

  <button type="button" class="sidebar__toggle" (click)="sidebarStore.toggle()">
    <i [class]="sidebarStore.collapsed() ? 'pi pi-angle-right' : 'pi pi-angle-left'"></i>
    @if (!sidebarStore.collapsed()) {
      <span>Collapse</span>
    }
  </button>
</aside>
